<div class="container">
    <div class="row main">
        <div class="main-login main-center">
        <h5>Login</h5>
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                

                <div class="form-group">
                    <label for="email" class="cols-sm-2 control-label">Your Email</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                            <input type="text" class="form-control" formControlName="email" id="email"  placeholder="Enter your Email"/>
                        </div>
                    </div>
                </div>                    

                <div class="form-group">
                    <label for="password" class="cols-sm-2 control-label">Password</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                            <input type="password" class="form-control" formControlName="password" id="password"  placeholder="Enter your Password"/>
                        </div>
                    </div>
                </div>

                
                <div class="form-group ">
                        <button class="btn btn-success btn-lg btn-block" type="submit" [disabled]="!loginForm.valid">LogIn</button>
                </div>
                
            </form>
        </div>
    </div>
</div>