<div class="col-sm-6 col-md-4 col-lg-3">
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src={{room.img}} alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{room.name}}</h5>
          <p><a [routerLink]="['/rooms', room.id]" class="btn btn-primary" role="button">Details</a> <a href="#" class="btn btn-success" role="button">Reserve</a></p>
        </div>
      </div>
</div>




<!-- 
  <div class="thumbnail">
    <img src={{room.img}} alt="...">
    <!-- <img src="../../assets/img/house2.jpg" alt="..."> -->
    <!-- <div class="caption">
        <h3>Room</h3>
        <p>Number of beds: <strong>{{room.beds}}</strong></p>
        <p><a [routerLink]="['/rooms', room.id]" class="btn btn-primary" role="button">Details</a> <a href="#" class="btn btn-success" role="button">Reserve</a></p>
    </div>
</div>  --> 